8.67 ERROR: Cannot install -r requirements.txt (line 10), -r requirements.txt (line 11), -r requirements.txt (line 15), -r requirements.txt (line 16), -r requirements.txt (line 19), -r requirements.txt (line 8) and torch==2.7.1+cu128 because these package versions have conflicting dependencies.
78.67
78.67 The conflict is caused by:
78.67     The user requested torch==2.7.1+cu128
78.67     sentence-transformers 3.3.1 depends on torch>=1.11.0
78.67     torchvision 0.22.1+cu128 depends on torch==2.7.1
78.67     torchaudio 2.7.1+cu128 depends on torch==2.7.1
78.67     coqui-tts 0.27.2 depends on torch<2.9 and >=2.1
78.67     accelerate 1.2.1 depends on torch>=1.10.0
78.67     pyannote-audio 4.0.3 depends on torch==2.8.0
78.67
78.67 To fix this you could try to:
78.67 1. loosen the range of package versions you've specified
78.67 2. remove package versions to allow pip attempt to solve the dependency conflict
78.67
78.67 ERROR: ResolutionImpossible: for help visit https://pip.pypa.io/en/latest/topics/dependency-resolution/#dealing-with-dependency-conflicts
------
[+] up 0/5
 ⠙ Image obtv-ai-worker-gpu-2 Building                                                                                                                                     80.1s
 ⠙ Image obtv-ai-api          Building                                                                                                                                     80.1s
 ⠙ Image obtv-ai-worker-cpu   Building                                                                                                                                     80.1s
 ⠙ Image obtv-ai-watcher      Building                                                                                                                                     80.1s
 ⠙ Image obtv-ai-worker-gpu   Building                                                                                                                                     80.1s
Dockerfile:40

--------------------

  38 |

  39 |     COPY requirements.txt .

  40 | >>> RUN pip install --no-cache-dir -r requirements.txt

  41 |     RUN pip install --no-cache-dir requests

  42 |

--------------------

target worker-gpu-2: failed to solve: process "/bin/sh -c pip install --no-cache-dir -r requirements.txt" did not complete successfully: exit code: 1